{% extends "base.html" %}
{% block title %}My tech reviews{% endblock  %}
{% block head_extra %}
{% load static %}
    <link rel="stylesheet" href="{% static 'bloghome/Search.css' %}">
{% endblock %}
{% block body %}
    <main class="container">
        <section id="search-info">
            <h2>Search Results for:"<span id="search-query">{{query}}</span>"</h2>
            <p id="results-count"></p>
        </section>
        {% if allElects|length < 1 and allGames|length < 1 and allSofts|length < 1 %}
        <div class="NotFound">
            <div class="message"><b>No Results !...</b></div>
        </div>
        {% endif %}
        <section id="search-results-list">
        {% for i in allElects %}
            <div class="search-result-item">
            <div>
                <img src="/media/{{i.image}}" alt="">
            </div>
            <div class="search-result-item-details">
                <a href="/Electronics/{{i.slug}}"><h3>{{i.product_header}}</h3>
                <p class="review-excerpt">{{i.desc|slice:"0:103"|safe}}...</p>
                <p class="review-date">Published on:{{i.pub_date}}</p></a>
            </div>
            </div>
        {% endfor %}
        {% for i in allSofts %}
            <div class="search-result-item">
            <div>
                <img src="/media/{{i.image}}" alt="">
            </div>
            <div class="search-result-item-details">
                <a href="/Software/{{i.slug}}"><h3>{{i.product_header}}</h3>
                <p class="review-excerpt">{{i.desc|slice:"0:103"|safe}}...</p>
                <p class="review-date">Published on:{{i.pub_date}}</p></a>
            </div>
            </div>
        {% endfor %}
        {% for i in allGames %}
            <div class="search-result-item">
                <div>
                <img src="/media/{{i.image}}" alt="">
            </div>
            <div class="search-result-item-details">
                <a href="/Gaming/{{i.slug}}"><h3>{{i.product_header}}</h3>
                <p class="review-excerpt">{{i.desc|slice:"0:103"|safe}}...</p>
                <p class="review-date">Published on:{{i.pub_date}}</p></a>
            </div>
            </div>
        {% endfor %}
    </section>

        <div id="no-results" style="display: none;">
            <p>No results found for your search query.</p>
        </div>
    </main>
    
{%endblock%}