{% extends "base.html" %}
{% block title %}Title of Electronics{% endblock %}
{% block head_extra %}
{% load static %}
    <link rel="stylesheet" href="{% static 'Electronics/Electronics.css' %}">
{% endblock %}
{% block body %}
    <section class="gadget-categories">
        <br><br>
        <h2>Browse by Category</h2>
        <ul>
          <form action="CtegorySort" method="get">
              {% csrf_token %}
              <input type="hidden" name="category"id="category" value="Phones">
              <button type="submit">Phones</button>
          </form>
          
          <form action="CtegorySort" method="get">
              {% csrf_token %}
              <input type="hidden" name="category"id="category" value="Laptops">
              <button type="submit">Laptops</button>
          </form>
          <form action="CtegorySort" method="get">
              {% csrf_token %}
              <input type="hidden" name="category"id="category" value="Tablets">
              <button type="submit">Tablets</button>
          </form>
          <form action="CtegorySort" method="get">
              {% csrf_token %}
              <input type="hidden" name="category"id="category" value="Wearables">
              <button type="submit">Wearables</button>
          </form>
          <form action="CtegorySort" method="get">
              {% csrf_token %}
              <input type="hidden" name="category"id="category" value="Cameras">
              <button type="submit">Cameras</button>
          </form>
          <form action="CtegorySort" method="get">
              {% csrf_token %}
              <input type="hidden" name="category"id="category" value="Audio">
              <button type="submit">Audio</button>
          </form>
          <form action="CtegorySort" method="get">
              {% csrf_token %}
              <input type="hidden" name="category"id="category" value="Home Appliances">
              <button type="submit">Home Appliances</button>
          </form>
        </ul>
    </section>
    <section class="featured-gadgets">
        <h2>Featured Gadgets</h2>
        <div class="gadget-cards">
          <div class="card-flexbox"> 
          {% for i in allElectronic %}
            <div class="card"> 
                <img src="/media/{{i.image}}" alt="Smartphone">
                <h3>{{i.product_header |slice:"0:23"}}...</h3>
                <p>{{i.desc|slice:"0:103"|safe}}...</p>
                <a href="{{i.slug}}">Read Review</a>
            </div>
            {% endfor %}
          </div>
        </div>
    </section>
{% endblock body %}