{% extends "base.html" %}
{% block title %}Title of Electronics{% endblock %}
{% block head_extra %}
{% load static %}
    <link rel="stylesheet" href="{% static 'Electronics/Electronics.css' %}">
{% endblock %}
{% block body %}
    <section class="gadget-categories">
        <br><br>
        <h2>Browse by Category</h2>
        <ul>
            <li><a href="#">Phones</a></li>
            <li><a href="#">Laptops</a></li>
            <li><a href="#">Tablets</a></li>
            <li><a href="#">Wearables</a></li>
            <li><a href="#">Cameras</a></li>
            <li><a href="#">Audio</a></li>
            <li><a href="#">Home Appliances</a></li>
        </ul>
    </section>
    <section class="featured-gadgets">
        <h2>Featured Gadgets</h2>
        <div class="gadget-cards">
          <div class="card-flexbox"> 
          {% for i in allElectronic %}
            <div class="card"> 
                {% comment %} <img src="/media/{{i.image}}" alt="Smartphone"> {% endcomment %}
                <h3>{{i.product_header |slice:"0:23"}}...</h3>
                <p>{{i.desc|slice:"0:103"|safe}}...</p>
                <a href="{{i.slug}}">Read Review</a>
            </div>
            {% endfor %}
          </div>
        </div>
    </section>
{% endblock body %}