<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    {% block head_extra %}{% endblock %}
</head>
<body>
    <header>
      <div class="hamburger" onclick="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
      <p id="brandLogo"><i>Tech Reviews India</i></p>
      <div id="searcUserCont">

        <img src="{% static 'bloghome/Search.png' %}" alt="" id="Searchicon"onclick="openSearch()" height="30px" width="30px">
      {% if user.is_authenticated %}
        <a href="/UsersAccount/Profile"><img src="/media/{{profile.Image}}" alt="" id="Usericon" height="39px" width="39px"></a>
      {% else %}
        <a href="/UsersAccount"><img src="{% static 'bloghome/Createaccount.png' %}" alt=""  id="Usericon" height="39px" width="39px"></a>
      {% endif %}
      </div>
      <nav>
          <ul id="navbar-ul">
              <li><a href="/" class="H">Home</a></li>
              <li><a href="/Electronics" class="G">Electronics</a></li>
              <li><a href="/Software" class="S">Software</a></li>
              <li><a href="/Gaming" class="g">Gaming</a></li>
              <li><a href="/about" class="A">About</a></li>
              <li><a href="/contact" class="C">Contact</a></li>
              <li id="Write"><a href="/Write_Your_Blog"><img src="{% static 'bloghome/edit.png' %}" alt=""height="25px" width="25px"class="colored-image"></a></li>
          </ul>
      </nav>
      <form action="/search"method="get"id="searchForm"class="searchForm">
        <input type="search"name="query" placeholder="Search" id="search">
        <button id="Search_Btn"type="submit">Search</button>
      </form>
  </header>
  {% load static %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% block body %}{% endblock %}
    <footer>
        <p>&copy; 2023 Tech Reviews</p>
    </footer>

</body>
<script>
  {% comment %} responsive header {% endcomment %}
  // script.js
function toggleMenu() {
  const navbarUl = document.getElementById('navbar-ul');
  navbarUl.classList.toggle('active');
}
{% comment %} js for Search form {% endcomment %}

let Visible = document.getElementById("searchForm");
  function openSearch()
  {
    Visible.classList.toggle("opensearchForm");
  } 
</script>
</html>