{% extends "base.html" %}
{% block title %}Title of gaming{% endblock %}
{% block head_extra %}
{% load static %}
    <link rel="stylesheet" href="{% static 'Gaming/Gaming.css' %}">
{% endblock %}
{% block body %}
<section class="gadget-categories">
    <br><br>
    <h2>Browse by Category</h2>
    <ul>
        <form action="CtegorySort" method="get">
            {% csrf_token %}
            <input type="hidden" name="category"id="category" value="Mobile">
            <button type="submit">Mobile</button>
        </form>
        
        <form action="CtegorySort" method="get">
            {% csrf_token %}
            <input type="hidden" name="category"id="category" value="Xbox">
            <button type="submit">Xbox</button>
        </form>
        <form action="CtegorySort" method="get">
            {% csrf_token %}
            <input type="hidden" name="category"id="category" value="Windows">
            <button type="submit">Windows</button>
        </form>
        <form action="CtegorySort" method="get">
            {% csrf_token %}
            <input type="hidden" name="category"id="category" value="Mac">
            <button type="submit">Mac</button>
        </form>
        <form action="CtegorySort" method="get">
            {% csrf_token %}
            <input type="hidden" name="category"id="category" value="Consoles">
            <button type="submit">Consoles</button>
        </form>
        <form action="CtegorySort" method="get">
            {% csrf_token %}
            <input type="hidden" name="category"id="category" value="VR">
            <button type="submit">VR</button>
        </form>
    </ul>
</section>
<section class="featured-gadgets">
    <h2>Featured Gadgets</h2>
    <div class="gadget-cards">
      <div class="card-flexbox"> 
      {% for i in allGaming %}
        <div class="card"> 
            <img src="/media/{{i.image}}" alt="Smartphone">
            <a href="{{i.slug}}"><h3>{{i.product_header}}</h3>
                <p>{{i.desc|slice:"0:103"|safe}}...</p></a>
        </div>
        {% endfor %}
      </div>
    </div>
</section>
{% endblock  %}