{% extends "base.html" %}
{% block title %}Title of Softwares{% endblock %}
{% block head_extra %}
{% load static %}
    <link rel="stylesheet" href="{% static 'Software/Software.css' %}">
{% endblock %}
{% block body %}
<section class="gadget-categories">
    <br><br>
    <h2>Browse by Category</h2>
    <ul>
        <form action="/Software/" method="post">
            {% csrf_token %}
            <input type="hidden" >
            <button type="submit">All</button>
        </form>
        <form action="CtegorySort" method="get">
            {% csrf_token %}
            <input type="hidden" name="category"id="category" value="App">
            <button type="submit">App</button>
        </form>
        <form action="CtegorySort" method="get">
            {% csrf_token %}
            <input type="hidden" name="category"id="category" value="Websites">
            <button type="submit">Websites</button>
        </form>
        <form action="CtegorySort" method="get">
            {% csrf_token %}
            <input type="hidden" name="category"id="category" value="AI">
            <button type="submit">AI</button>
        </form>
        <form action="CtegorySort" method="get">
            {% csrf_token %}
            <input type="hidden" name="category"id="category" value="System">
            <button type="submit">System</button>
        </form>
        <form action="CtegorySort" method="get">
            {% csrf_token %}
            <input type="hidden" name="category"id="category" value="Antivirus">
            <button type="submit">Antivirus</button>
        </form>
    </ul>
</section>
<section class="featured-gadgets">
    <h2>Featured articles on Softwares</h2>
    {% if allSoft|length < 1 %}
        <div class="NotFound">
            <div class="message"><b>No Results !...</b></div>
        </div>
    {% endif %}
    <div class="gadget-cards">
      <div class="card-flexbox"> 
      {% for i in  allSoft %}
        <div class="card"> 
            <img src="/media/{{i.image}}" alt="Smartphone">
            <a href="{{i.slug}}">
            <h3>{{i.product_header}}</h3>
            <p>{{i.desc|slice:"0:103"|safe}}...</p>
        </a>
        </div>
        {% endfor %}
      </div>
    </div>
</section>
{% endblock  %}