{% extends "base.html" %}
{% block title %}Title of Write_a_blog{% endblock %}
{% block head_extra %}
{% load static %}
    <link rel="stylesheet" href="{% static 'Write_Your_Blog/Start_Your_Post.css' %}">
{% endblock %}
{% block body %}
    <h1 id="Texts">Enter Gaming Product Details</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div>
            <label for="product_Type">Type:</label>
            <input type="text" name="post_type" id="post_type">
        </div>
        <br>

        <div>
            <label for="product_header">Product Header:</label>
            <input type="text" id="product_header" name="product_header" maxlength="100" value="">
        </div>
        <br>
        <br>

        <div>
            <label for="subcategory">Subcategory:</label>
            <input type="text" id="subcategory" name="subcategory" maxlength="50" value="">
        </div>
        <br>

        <div>
            <label for="desc">Description:</label>
            <textarea id="desc" name="desc"></textarea>
            <p>Note: This field likely expects HTML content.</p>
        </div>
        <br>
        <div>
            <label for="image">Image:</label>
            <input type="file" id="image" name="image">
        </div>
        <br>
        <button type="submit">Submit</button>

    </form>
{% endblock  %}